@use "_base.scss" as base;

@mixin teachersHover($type, $bgColor, $textColor) {
  &:nth-child(#{$type}):hover {
    background-color: $bgColor;
    color: $textColor;
    font-weight: bold;
  }
}

@mixin colorAndWeightText($textColor: base.$whiteColor, $textWeight: bold) {
  color: $textColor;
  font-weight: $textWeight;
}
