/*
  Fichero con _ al principio para indicar que es un partial. 
  Y no contiene estilos propios. 
  En este caso solamente variables.
*/
$primary-color: darkorange;
$secondary-color: skyblue;
$text-color: darkgreen;
$font-base-size: 1.3em;
$link-font-size: 1.5em;
$breakpoint-sm: 600px;
$grid-item-base-color: darkblue;