// Colors
$colors: (
    base: blue,
    important: darkblue,
    warning: lightblue,
);

// Values
$borderRadius: 5px;

// Fonts
$principalFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
$secondaryFont: cursive;

// Shadow
$horizontalShadow: 6px;