/**********   COLORS   **********/

$colors: (
    base: red,
    important: darkred,
    warning: pink,
);

/**********   VALUES   **********/

$borderRadius: 0px;
$horizontalShadow: -6px;

/**********   FONTS   **********/
$principalFont: Courier, monospace;
$secondaryFont: Times, serif;