/**********   COLORS   **********/

$colors: (
    base: blue,
    important: darkblue,
    warning: lightblue,
);

/**********   VALUES   **********/

$borderRadius: 5px;
$horizontalShadow: 6px;

/**********   FONTS   **********/

$principalFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
$secondaryFont: cursive;