/**********   FONTS   **********/

$bodyFont: Arial, sans-serif;

/**********   VALUES   **********/

$bodyMargin: 0px;
$bodyPadding: 0px;
$bodyWidth: 100vw;

$containerWidth: 150px;
$containerGap: 5px;
$containerPadding: 20px;

$boxBorder: 1px solid black;
$boxHeight: 75px;
$boxWidth: 100px;

$colorBoxTextPadding: 10px;
$colorBoxTextMargin: 5px;

$textPaddingTop: 5px;
$textPaddingBottom: 5px;

$verticalShadow: 10px;
$blurShadow: 10px;