@use "_base.scss" as base;
@use "_base-red.scss" as styleBase;
// @use "_base-blue.scss" as styleBase;

body {
  font-family: base.$bodyFont;
  margin: base.$bodyMargin;
  padding: base.$bodyPadding;
  width: base.$bodyWidth;
}

div.container-1{
  display: grid;
  grid-auto-flow: row;
  width: base.$containerWidth;
  gap: base.$containerGap;
  padding: base.$containerPadding;

    & .box{
      display: flex;
      justify-content: start;
      border: base.$boxBorder;
      height: base.$boxHeight;
      width: base.$boxWidth;
      border-radius: styleBase.$borderRadius;
    }

    & .color-box-text {
      padding: base.$colorBoxTextPadding;
      margin: base.$colorBoxTextMargin;
    }

    & .text {
      padding-top: base.$textPaddingTop;
      padding-bottom: base.$textPaddingBottom;
    }

    & .primary-text {
      font-family: styleBase.$principalFont;
    }

    & .secondary-text {
      font-family: styleBase.$secondaryFont;
    }

    & .withShadow {
      box-shadow: styleBase.$horizontalShadow base.$verticalShadow base.$blurShadow rgba(0, 0, 0, 0.69);
      align-items: center;
    }
}

@each $name, $color in styleBase.$colors {
  .#{$name}{
    background-color: $color;
  }
}