/**********   COLORS   **********/
$backgroundColor: lightgrey;
$cardColor: white;
$dateAndButtonColor: rgb(97, 170, 49);

/**********   FONTS   **********/

$font: Arial, sans-serif;

/**********   VALUES   **********/

$bodyMargin: 0px;
$bodyPadding: 0px;
$bodyWidth: 100vw;
$bodyHeight: 100vh;

$cardBorder: 1px solid rgb(133, 128, 128);

$oneRem: 1rem;
$imgWidth: 100%;
$cardWidth: 300px;
$dateGap: 5px;
