@use "_base.scss" as base;

body {
  font-family: base.$bodyFont;
  margin: base.$bodyMargin;
  padding: base.$bodyPadding;
  width: base.$bodyWidth;
}
 
@mixin navBarProperties($flexDirection, $padding, $justifyContent: space-between, $alignItems: center, $height: auto) {
  display: flex;
  background-color: base.$navBarColor;
  color: base.$fontColor;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  height: $height;

  & .navItem {
    padding: $padding;
    display: flex;
    justify-content: center;
  }

  & .navItem:hover {
    background-color: base.$navBarHoverColor;
  }
}

@media screen and (width <= base.$screenSize) {
  .navBar {
    @include navBarProperties(column, base.$paddingSmallMode, center);
  }
}

@media screen and (width > base.$screenSize) {
  .navBar {
    @include navBarProperties(row, base.$paddingBigMode, space-between, center, base.$heightBigMode);
  }
}