// Colors
$colors: (
    base: red,
    important: darkred,
    warning: pink,
);

// Values
$borderRadius: 0px;

// Fonts
$principalFont: Courier, monospace;
$secondaryFont: Times, serif;

// Shadow
$horizontalShadow: -6px;